/* HEADER STYLING AND BACKGROUND IMAGE */
.page-header {
  background-color: #242F4D;
  background-image: url("../images/header.background.png");
  background-size: 90%;
  background-position-y: center;
  background-position-y: center;
  font-family: 'Source Sans Pro';
  font-size: 40px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER OF AVATAR AND NAME TEXT */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* AVATAR SIZING */
.avatar {
  height: 70%;
  width: 70%;
}

/* NAME TEXT MARGIN, AND COLOR */
.first-name {
  margin: 10px;
  color: white;
}

/* LAST NAMECOLOR */
.last-name {
  color: #48BF91;
}