/* WIDTH CONTROL OF MAIN CONTAINER */
.main-container {
  width: 90%;
}

/* CONTAINER FOR THE TWEET INPUT, BUTTON, AND CHARACTER COUNTER */
.new-tweet {
  margin-top: 1em;
  width: 100%;
}

/* FORM STYLE FOR THE TWEET INPUT AREA */
.tweet-text {
  color: #242F4D;
  padding-left: 2%;
  padding-top: 1%;
  width: 100%;
  font-weight: bolder;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  border-radius: 15px;
  box-shadow: inset 9px 9px 18px #d4d2cd,
  inset -9px -9px 18px #ffffff;
}

/* TWEET BUTTON AND CHARACTER COUNTER SPACING AND ALIGNMENT */
.subitems {
  font-family: 'Bungee';
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TWEET BUTTON STYLING */
.tweeterbutton {
  padding: 10px;
  border: none;
  color: white;
  font-family: 'Bungee';
  border-radius: 15px;
  background: linear-gradient(145deg, #52daa6, #45b88c);
  box-shadow:  5px 5px 15px #adadad, -5px -5px 15px #ececec;
  z-index: 1;
}

/* TWEET BUTTON HOVER EFFECT ANIMATION */
.tweeterbutton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background: linear-gradient(145deg, #52daa6, #45b88c);
  box-shadow:  5px 5px 9px #aaaaaa, -5px -5px 9px #f3f3f3;
  z-index: 1;
}

/* TWEET BUTTON ACTIVE EFFECT WHEN CLICKED ON */
.tweeterbutton:active {
  transform: translateY(1px);
  background: linear-gradient(145deg, #52daa6, #45b88c);
  box-shadow: inset 5px 5px 9px #318f6b, inset -5px -5px 9px #4dcc9b;
  z-index: 1;
}

/* ENSURE THERE IS NO UNWANTED OUTLINE ON THE BUTTON WHEN FOCUSED */
.tweeterbutton:focus {
  outline: none;
}

/* CHARACTER COUNTER STYLING */
.counter {
  color: #242F4D;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* WARNING STYLE FOR CHARACTER COUNT MESSAGE */
.warning {
  color: red;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* SUCCESS STYLE FOR TWEET SUBMISSION */
.success {
    color: #45b88c;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* SUCCESS ICON */
.fa-check-circle {
  padding-right: 10px;
}

/* WARNING ICON */
.fa-exclamation-triangle {
  padding-right: 10px;
}

/* CONTAINER FOR ALL THE TWEETS IN THE THREAD */
#tweets-container {
  width: 100%;
}

/* CONTAINER FOR THE TWEETS ONCE POSTED */
.thread-container {
  margin: 30px 0px 30px 0px;
  border-radius: 50px;
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F4F1EC;
  box-shadow: inset 17px 17px 34px #d4d2cd, inset -17px -17px 34px #ffffff;
}

/* HOVER EFFECT FOR THE THREAD CONTAINER */
.thread-container:hover {
  transform: translateY(-3px);
  background: linear-gradient(145deg, #fffffd, #dcd9d4);
  box-shadow:  17px 17px 34px #d4d2cd, -17px -17px 34px #ffffff;
}

/* NAME AND USERNAME HEADER IN THE CONTAINER */
.tweet-thread {
  margin:auto;
  width: 98%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* USER AVATAR IMAGE AND NAME IN THE HEADER CONTAINER */
.user {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* AVATAR IMAGE IN THE USER */
.avatar-thread {
  height: 80px;
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

/* USERNAME ELEMENT IN THE HEADER OF THE CONTAINER */
.username {
  color: rgb(163, 163, 163);
  font-weight: lighter;
  font-style: italic;
  padding-right: 5%;
}

/* POSTED TWEET FORMATTING IN THE CONTAINER */
.tweet-post {
  font-weight: bold;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  width: 98%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-bottom: 2px solid #318f6b;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* FOOTER OF THE CONTAINER, HOLDING THE DATE POSTED AND THE ICONS */
footer {
  margin:auto;
  margin-bottom: 20px;
  width: 98%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* ICONS FOR FLAG, LIKE, AND RE-TWEET */
.icons {
  color: #48BF91;
  width: 120px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

/* FLAG HOVER ANIMATION */
.fa-flag:hover {
  color: #318f6b;
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* HEART HOVER ANIMATION */
.fa-heart:hover {
  color: #318f6b;
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* RETWEET HOVER ANIMATION */
.fa-retweet:hover {
  color: #318f6b;
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* TIME STAMP IN THE FOOTER DOCUMENT */
.time-stamp {
  padding-left: 2%;
  font-size: 16px;
}

/* MAX CHARACTER LIMIT STYLING */
.max-limit {
  color: red;
}





/* RESPONSIVE DESIGN ELEMENTS */

/* DESKTOP FORMATTING, SCREENS ABOVE 1024PX */
@media only screen and (min-width: 1024px) {
  .main-container {
    width: 65%;
    float: right;
    margin-top: 150px;
    margin-right: 2.5%;
  }
}

/* MID-RANGE RE-FORMAT AT 550PX AND BELOW */
@media only screen and (max-width: 550px) {
  .tweet-post {
    font-size: 80%;
  }
  
  .tweet-thread {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  .user {
    margin-right: 80px;
  }

  .username {
    padding: 0;
  }

  .tweet-text {
    font-size: large;
  }

  .warning {
    margin:auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: x-small;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .fa-exclamation-triangle {
    padding: 0;
  }

  .success {
    margin:auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: x-small;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .fa-check-circle {
    padding: 0;
  }
}
