.main-container {
  width: 90%;
}

/* CONTAINER FOR THE TWEET INPUT, BUTTON, AND CHARACTER COUNTER */
.new-tweet {
  margin-top: 1em;
  width: 100%;
}

/* FORM STYLE FOR THE TWEET INPUT AREA */
#tweet-text {
  color: #242F4D;
  width: 100%;
  font-weight: bolder;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 5px solid #242F4D;
}

/* TWEET BUTTON AND CHARACTER COUNTER SPACING AND ALIGNMENT */
.subitems {
  font-family: 'Bungee';
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TWEET BUTTON STYLING */
.tweeterbutton {
  padding: 10px;
  border: none;
  background-color: #48BF91;
  color: white;
  font-family: 'Bungee';
  border-radius: 15px;
}

/* TWEET BUTTON HOVER EFFECT ANIMATION */
.tweeterbutton:hover {
  padding: 10px;
  border: none;
  background-color: #318f6b;
  color: white;
  font-family: 'Bungee';
  border-radius: 15px;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* CHARACTER COUNTER STYLING */
.counter {
  color: #242F4D;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* MAX CHARACTER LIMIT STYLING */
.max-limit {
  color: red;
}

.thread-container {
  border: 5px solid #242F4D;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thread-container:hover {
  border: 5px solid #242F4D;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.tweet-thread {
  margin:auto;
  width: 98%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar-thread {
  height: 60px;
  width: 60px;
  margin-right: 5%;
}

.username {
  color: rgb(163, 163, 163);
  font-weight: lighter;
  font-style: italic;
  padding-right: 5%;
}

.tweet-text {
  font-weight: bold;
  margin: auto;
  margin-bottom: 0;
  width: 98%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-bottom: 2px solid #318f6b;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  margin:auto;
  width: 98%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  color: #48BF91;
  width: 170px;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.fa-flag:hover {
  color: #318f6b;
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fa-heart:hover {
  color: #318f6b;
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fa-retweet:hover {
  color: #318f6b;
  transform: translateY(-3px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.time-stamp {
  padding-left: 2%;
  font-size: 16px;
}